body > div.container > div.row.restaurants-item > div > div {
    width: 80%;
    margin: 0 auto;
}

body > nav {
    margin-bottom: 40px;
}

#navbarNav > ul > li:nth-child(3) {
    margin-right: 20px;
}

body > div.container > div > div > div > div > img {
    max-height: 150px;
    min-height: 150px;
    margin: 0px;
    float: right;
}

body>div.container>div>div>img {
    width: 400px;
    margin: 20px 0px;
}